<div [ngClass]="{'dark-theme': isDarkTheme | async}">
  <div class="mat-app-background">
    <mat-toolbar fxLayout="column">
      <mat-toolbar-row>
        <div fxFlex fxLayoutAlign="flex-start center">
          <mat-icon>redeem</mat-icon>
          <span>
            CouCaSa
          </span>
        </div>
        <div fxFlex fxLayoutAlign="flex-end center">
          <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">Dunkel-Modus
          </mat-slide-toggle>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row fxShow fxHide.lt-sm fxFlex>
        <nav mat-tab-nav-bar fxFlex>
          <a mat-tab-link #rla="routerLinkActive" *ngFor="let category of categories" [routerLink]="category.link"
            routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [active]="rla.isActive" fxFlex>
            <mat-icon>{{category.icon}}</mat-icon>
          </a>
        </nav>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content" role="main">
      <router-outlet></router-outlet>
    </div>
    <footer>
      <mat-toolbar>
        <div fxShow fxHide.lt-sm fxFlex fxLayoutAlign="center center" class="mat-small">
          Mit <mat-icon color="accent">favorite</mat-icon> in Karlsruhe gemacht
        </div>
        <nav mat-tab-nav-bar fxHide fxShow.lt-sm fxFlex>
          <a mat-tab-link #rla="routerLinkActive" *ngFor="let category of categories" [routerLink]="category.link"
            routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [active]="rla.isActive" fxFlex>
            <mat-icon>{{category.icon}}</mat-icon>
          </a>
        </nav>
      </mat-toolbar>
    </footer>
  </div>
</div>