@media (max-width: 959px) {
    .mat-tab-link {
        min-width: 48px;
    }
}

@media (min-width: 960px) {
    .mat-tab-link {
        min-width: 104px;
    }
}

@media (max-width: 599px) {
    .content {
        height: calc(100vh - 112px);
    }
}

@media (min-width: 600px) {
    .content {
        height: calc(100vh - 177px);
    }
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 9;
}

.mat-tab-link {
    padding: 0 16px;
}