<div [ngClass]="{'dark-theme': isDarkTheme | async, 'theme': true}">
  <div class="mat-app-background">
    <header>
      <mat-toolbar fxLayout="column">
        <mat-toolbar-row>
          <div fxFlex fxLayoutAlign="flex-start center">
            <a mat-button routerLink="">
              <img src="assets/logo.svg" height="48px" />
            </a>
          </div>
          <div fxFlex fxLayoutAlign="center center">
            <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">
              <mat-icon>contrast</mat-icon>
            </mat-slide-toggle>
          </div>
          <div fxFlex fxLayoutAlign="flex-end center">
            <a mat-button *ngIf="!(isDarkTheme| async)" href="https://github.com/coucasa/coucasa.github.io"><img
                src="assets/GitHub-Mark-32px.png" height="24px" matTooltip="{{'source' | translate}}" /></a>
            <a mat-button *ngIf="isDarkTheme | async" href="hhttps://github.com/coucasa/coucasa.github.io"><img
                src="assets/GitHub-Mark-Light-32px.png" height="24px" matTooltip="{{'source' | translate}}" /></a>
          </div>
        </mat-toolbar-row>
        <mat-toolbar-row fxShow fxHide.lt-sm fxFlex>
          <nav mat-tab-nav-bar fxFlex>
            <a mat-tab-link #rla="routerLinkActive" *ngFor="let category of categories" [routerLink]="category.link"
              routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [active]="rla.isActive" fxFlex
              matTooltip="{{'categories.' + category.key + '.label' | translate}}">
              <mat-icon>{{category.icon}}</mat-icon>
            </a>
          </nav>
        </mat-toolbar-row>
      </mat-toolbar>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      <mat-toolbar>
        <div fxShow fxHide.lt-sm fxFlex fxLayoutAlign="center center" class="mat-small">
          Mit <mat-icon color="accent">favorite</mat-icon> in Karlsruhe gemacht
        </div>
        <nav mat-tab-nav-bar fxHide fxShow.lt-sm fxFlex>
          <a mat-tab-link #rla="routerLinkActive" *ngFor="let category of categories" [routerLink]="category.link"
            routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [active]="rla.isActive" fxFlex>
            <mat-icon>{{category.icon}}</mat-icon>
          </a>
        </nav>
      </mat-toolbar>
    </footer>
  </div>
</div>