<div class="container tab">
    <header>
        <div>
            <h2>{{'categories.' + key + '.label' | translate}}</h2>
            <p>{{'categories.' + key + '.description' | translate}}</p>
        </div>
    </header>
    <mat-grid-list [cols]="cols" [gutterSize]="gutter + 'px'" [rowHeight]="rowHeight + 'px'"
        [style.margin]="gutter + 'px ' + margin + 'px ' + gutter + 'px ' + margin + 'px'">
        <mat-grid-tile *ngFor="let item of items">
            <mat-grid-tile-header>
                <img src="{{'items.' + item.key + '.image' | translate}}" height="48px" />
                <span>{{'items.' + item.key + '.title' | translate}}</span>
            </mat-grid-tile-header>
            <div class="mat-grid-tile-text">
                <p>{{'items.' + item.key + '.description' | translate}}</p>
                <p *ngIf="item.ref">{{'items.' + item.key + '.refer' | translate}}</p>
            </div>
            <mat-grid-tile-footer>
                <a *ngIf="item.register" mat-raised-button color="accent" aria-label="open website"
                    href="{{item.register}}" target="_blank">
                    Webseite
                </a>
                <a *ngIf="!item.register" mat-raised-button color="accent" aria-label="open website"
                    href="{{item.webId}}" target="_blank">
                    Webseite
                </a>
                <a *ngIf="item.appStoreId" color="accent" class="apple" aria-label="open in app store"
                    href="{{'items.' + item.key + '.appStore.url' | translate}}" target="_blank">
                    <div class="store"><span>App Store</span></div>
                    <div class="ratings">{{'items.' + item.key + '.appStore.rating' | translate}}</div>
                </a>
                <a *ngIf="item.playStoreId" color="accent" class="play" aria-label="open in playstore"
                    href="{{'items.' + item.key + '.playStore.url' | translate}}" target="_blank">
                    <div class="store"><span>Google Play</span></div>
                    <div class="ratings">{{'items.' + item.key + '.playStore.rating' | translate}}</div>
                </a>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</div>