@use '@angular/material' as mat;

@include mat.core();

$dashboard-primary: mat.define-palette(mat.$blue-gray-palette);
$dashboard-accent: mat.define-palette(mat.$blue-gray-palette);
$dashboard-warn: mat.define-palette(mat.$red-palette);

$dashboard-light-theme: mat.define-light-theme((color: (primary: $dashboard-primary,
        accent: $dashboard-accent,
        warn: $dashboard-warn,
      )));

$dashboard-dark-theme: mat.define-dark-theme((color: (primary: $dashboard-primary,
        accent: $dashboard-accent,
        warn: $dashboard-warn,
      )));

@include mat.all-component-themes($dashboard-light-theme);

.dark-theme {
  @include mat.all-component-colors($dashboard-dark-theme);
}


@import "@fontsource/roboto/latin-400.css";
@import '@material-design-icons/font/filled.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}