@use '@angular/material' as mat;
@use './src/grid-list-theme' as grid-list;

@include mat.core();

$grey-palette: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161
);

$pink-palette: (
  50: #fce4ec,
  100: #f8bbd0,
  200: #f48fb1,
  300: #f06292,
  400: #ec407a,
  500: #e91e63,
  600: #d81b60,
  700: #c2185b,
  800: #ad1457,
  900: #880e4f,
  A100: #ff80ab,
  A200: #ff4081,
  A400: #f50057,
  A700: #c51162
);

$blue-grey-palette: (
  50: #eceff1,
  100: #cfd8dc,
  200: #b0bec5,
  300: #90a4ae,
  400: #78909c,
  500: #607d8b,
  600: #546e7a,
  700: #455a64,
  800: #37474f,
  900: #263238,
  A100: #cfd8dc,
  A200: #b0bec5,
  A400: #78909c,
  A700: #455a64
);

$dashboard-primary: mat.define-palette(mat.$gray-palette);
$dashboard-accent: mat.define-palette(mat.$blue-gray-palette, A700);
$dashboard-warn: mat.define-palette(mat.$red-palette);

$dashboard-light-theme: mat.define-light-theme((color: (primary: $dashboard-primary,
        accent: $dashboard-accent,
        warn: $dashboard-warn,
      )));

$dashboard-dark-theme: mat.define-dark-theme((color: (primary: $dashboard-primary,
        accent: $dashboard-accent,
        warn: $dashboard-warn,
      )));

@include mat.all-component-themes($dashboard-light-theme);
@include grid-list.theme($dashboard-light-theme);

.dark-theme {
  @include mat.all-component-colors($dashboard-dark-theme);
  @include grid-list.theme($dashboard-dark-theme);
}

@import "@fontsource/roboto/latin-400.css";
@import '@material-design-icons/font/filled.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}